body{
    background-color: #c0aa3d;
}

.pad-left{
    padding-left:15px;

}
.pad-right{
    padding-right:15px;
}

.marg-left{
    margin-left:15px;
}

.marg-right{
    margin-right:15px;
}

.marg-top-10{
    margin-top:10px;
}

.marg-bot-10{
    margin-bottom:10px;
}

.parent-ht{
    height:inherit;
}