@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
} */

#feedback-page{
	text-align:center;
}

#form-main1{
	width:100%;
	float:left;
	padding-top:0px;
	/* display: ; */
}

#form-main2{
	width:100%;
	float:left;
	padding-top:0px;
	/* display: none; */
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:20px;
	padding-bottom:20px;
	width: 450px;
	/* float: left; */
	left: 50%;
	/* position: absolute; */
    margin-top:20px;
    /* margin-left: -260px; */
    margin-left: 5%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}


#button-blue{
	font-family: sans-serif;
	/* float:left; */
	/* width: 50%; */
	border: #fbfbfb solid 2px;
	cursor:pointer;
	background-color: #333333;
	color:white;
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:500;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		/* margin-left: 0; */
		padding-left: 3%;
		padding-right: 3%;
	}
}